<!DOCTYPE html>
<html>
<head>
  <title>Editable List</title>
</head>
<body>
  <h1>Editable List</h1>

  <ul>
    <% items.forEach(function(item) { %>
      <li>
        <%= item.name %>
        <a href="/edit/<%= item.id %>">Edit</a>
        <a href="/delete/<%= item.id %>">Delete</a>
      </li>
    <% }); %>
  </ul>

  <h2>Add New Item</h2>
  <form action="/add" method="post">
    <input type="text" name="itemName" placeholder="Item Name">
    <button type="submit">Add</button>
  </form>
</body>
</html>
